name: Test Setup

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  verify:
    name: Verify setup
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, windows-latest, ubuntu-latest, ubuntu-24.04-arm]
        target:
          - channel: sts
            version: 0.53.13
          - channel: sts
            version: latest
          - channel: lts
            version: 1.0.0
          - channel: lts
            version: latest
          - channel: nightly
            version: 1.1.0-alpha.20260106020001
        archive-path: ["", archive.bin]
    steps:
      - uses: actions/checkout@v6

      - name: Install OpenSSL on macOS
        if: runner.os == 'macOS'
        run: |
          brew install openssl
          echo "DYLD_LIBRARY_PATH=$(brew --prefix openssl)/lib:$DYLD_LIBRARY_PATH" >> $GITHUB_ENV

      - name: Test on ${{ matrix.os }}
        uses: ./
        with:
          channel: ${{ matrix.target.channel }}
          version: ${{ matrix.target.version }}
          archive-path: ${{ matrix.archive-path }}
      - name: Verify setup
        shell: bash
        run: |
          cjc --version
          mkdir cjbuild
          cd cjbuild
          cjpm init
          cjpm run
